.App {
  display: flex;
  justify-content: center;
}

.CodeInput {
  min-width: 60vw;
  
  display: flex;
  justify-content: space-around;
}

.CodeInput > div {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  height: 150px;

  position: relative;
}

.CodeInput > div::after {
  content: "";
  position: absolute;

  height: 30px;
  width: 30px;
  border-radius: 50%;

  left: calc( 50% - 15px );
  top: calc( 50% - 15px );
}

.CodeInput > div.dot-0::after {
  background-color: red;
}
.CodeInput > div.dot-1::after {
  background-color: orange;
}
.CodeInput > div.dot-2::after {
  background-color: gold;
}
.CodeInput > div.dot-3::after {
  background-color: lime;
}
.CodeInput > div.dot-4::after {
  background-color: blue;
}
.CodeInput > div.dot-5::after {
  background: linear-gradient(45deg, #92baac 1.5px, transparent 1.5px) 2.1px 2.1px,
  linear-gradient(45deg, #92baac 1.5px, transparent 1.5px,transparent 3.1px, #e1ebbd 3.1px, #e1ebbd 4.5px, transparent 4.5px),
  linear-gradient(-45deg, #92baac 0.8px, transparent 0.8px, transparent 3.3px,#92baac 3.3px,#92baac 3.8px,transparent 3.8px,transparent 5.3px,#92baac 5.3px)
}

