.App {
  display: flex;
  justify-content: center;
}

.CodeInput {
  min-width: 60vw;
  
  display: flex;
  justify-content: space-around;
}

.CodeInput > div {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  height: 150px;

  position: relative;
}

.CodeInput > div::after {
  content: "";
  position: absolute;

  height: 30px;
  width: 30px;
  border-radius: 50%;

  left: calc( 50% - 15px );
  top: calc( 50% - 15px );
}

.CodeInput > div.dot-0::after {
  background-color: red;
}
.CodeInput > div.dot-1::after {
  background-color: orange;
}
.CodeInput > div.dot-2::after {
  background-color: gold;
}
.CodeInput > div.dot-3::after {
  background:
    linear-gradient(45deg, #92baac 4.5px, transparent 4.5px)6.4px 6.4px,
    linear-gradient(45deg, #92baac 4.5px, transparent 4.5px,transparent 9.1px, #e1ebbd 9.1px, #e1ebbd 13.5px, transparent 13.5px),
    linear-gradient(-45deg, #92baac 2.3px, transparent 2.3px, transparent 6.8px,#92baac 6.8px,#92baac 11.3px,transparent 11.3px,transparent 15.8px,#92baac 15.8px);
  background-color:#e1ebbd;
  background-size: 12.8px 12.8px;
}

.CodeInput > div.dot-4::after {
  background-color: blue;
}
.CodeInput > div.dot-5::after {
  background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 4.5px, #613 5px, rgba(96, 16, 48, 0) 5.5px) 0px 5px,
    radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 4.5px, #613 5px, rgba(96, 16, 48, 0) 5.5px),
    #8a3;
  background-size: 10px 10px;
}

